<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<string>Usar para fines comerciales</string>
		<string>Modificar, adaptar y derivar obras similares</string>
	</array>
</dict>
</plist>
